* { margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

.blablabla {
    background-color: pink;
    min-height: 50vh;
    max-height: 75vh;
    overflow: hidden;
}

.i-am-the-boss {
    background: cyan;
    padding: 20%;
    font-size: 1.2rem;
}

.hello-world {
    padding: 20%
    
}